<h1>Actors!</h1>

<br><br>
<br><br>

<table><tr><td>

<% @results.each do |each| %>

<a href="/actors/<%= each["name"] %>"><p><%= each["name"] %></p></a>

<% end %>

</td></tr></table>

<br><br>


<% if @page_num > 1 %>
<div class="navbutts">

     <a href="/actors?page=<%= @page_num/20 - 1 %>"> Previous</a>
</div>

<% end %>


<% if @page_num/20 < @last_page_num %>
  <div class="navbutts">

      <a href="/actors?page=<%= @page_num/20 + 1 %>" >Next</a>
</div>

<% end %>

<br><br>
<br><br>

<div>
<form method=post action="/actors">
<input type=text name="query">
<input type=submit name="submit>"

</form>


</div>

<br><br>
<br><br>
